{
  "serverURL": "{{serverURL}}",
  "noSimplePagination": false,
  "startTLS": false,
  "rootCerts": "",
  "tlsSkipVerify": true,
  "readerDN": "{{readerDN}}",
  "readerPassword": "{{readerPassword}}",
  "additionalDomains": [],
  "userSearchConfigs": [
   {
    "baseDN": "{{baseDN}}",
    "scopeSubtree": true,
    "usernameAttr": "{{usernameAttr}}",
    "fullNameAttr": "{{fullNameAttr}}",
    "filter": "",
    "matchGroup": false,
    "matchGroupDN": "",
    "matchGroupMemberAttr": "",
    "matchGroupIterate": false
   }
  ],
  "adminSyncOpts": {
   "enableSync": false,
   "selectGroupMembers": false,
   "groupDN": "",
   "groupMemberAttr": "",
   "searchBaseDN": "",
   "searchScopeSubtree": false,
   "searchFilter": ""
  },
  "syncSchedule": "@hourly",
  "jitUserProvisioning": true
}
