{
  "serverURL": "ldap://ad.mch.local",
  "noSimplePagination": false,
  "startTLS": false,
  "rootCerts": "",
  "tlsSkipVerify": true,
  "readerDN": "cn=Administrator,cn=Users,dc=mch,dc=local",
  "readerPassword": "QWEqwe123",
  "additionalDomains": [],
  "userSearchConfigs": [
   {
    "baseDN": "cn=Users,dc=mch,dc=local",
    "scopeSubtree": true,
    "usernameAttr": "sAMAccountName",
    "fullNameAttr": "displayName",
    "filter": "",
    "matchGroup": false,
    "matchGroupDN": "",
    "matchGroupMemberAttr": "",
    "matchGroupIterate": false
   }
  ],
  "adminSyncOpts": {
   "enableSync": false,
   "selectGroupMembers": false,
   "groupDN": "",
   "groupMemberAttr": "",
   "searchBaseDN": "",
   "searchScopeSubtree": false,
   "searchFilter": ""
  },
  "syncSchedule": "@hourly",
  "jitUserProvisioning": true
}
